* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2D2013;

}

.container {
    background: pink;
    width: 100%;
    height: 100%;
}

.header-in {
    text-align: center;
    margin-top: 10px;
}

.form-container {
    margin: 5px auto;
    width: 100%;
    height: 175px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {

    width: 600px;
    height: 55px;
    display: flex;
    margin: 10px auto;


}

input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 25px 0 0 25px;
    font-size: 20px;
    background-color: #fff;


}

form>button {
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

form>button:hover {
    background-color: rgb(238, 43,9);
    color: wheat;
}
.block-items{
    display: block;
    padding: 10px;
}
.block-items>h3>span{
    color: #D57D1F;
}
.block-items>h3>span:hover{
    color: #FFCB69;
}
.block-items>h3{
    color: #fff;
}
.horezontal-line{
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
/* display section */

#mail-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}
#mail-display{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

/* Datiles section */
#customAlert {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(245, 244, 243, 0);
    height: 500px;
    width: 600px;
    margin: 0 auto;
   
   
}

.buttonYou{
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #FFCB69;
    color:#fff;
}
.buttonYou:hover{
    background-color: #D57D1F;
}
.box {
    border-radius: 5px;
    margin: 100px auto;
    height: 100%;
    width: 100%;
    /* text-align: center; */
   
}

.content {
    /* margin-top: 30px; */
    /* height: 45vh; */
}

#confirmbtn {
    position:sticky;
    padding: 5px 20px;
    border-radius: 8px;
    background-color:#FFCB69;
    color: white;
    margin-top:65px;
    margin-left: 89%;
}
#confirmbtn:hover{
    background-color: #D57D1F;
}
#top-detai{
    display: flex;
}